---
layout: page
title: Categories
header: Posts By Category
group: navigation
---
{% include JB/setup %}

<div class="journal-tags" id="teaminfo">
  {% assign categories_list = site.categories %}
  {% for category in categories_list %} 
    <div class="journal-cat-box">
    {% if category[0] == null %}
    <a href="{{ BASE_PATH }}{{ site.JB.categories_path }}#{{ category }}-ref" title="{{ category }}">
      {{ category }}
    {% else %}
    <a href="{{ BASE_PATH }}{{ site.JB.categories_path }}#{{ category[0] }}-ref" title="{{ category[0] }}">
      {{ category[0] }}
    {% endif %}
    </a>
</div>
  {% endfor %}
  {% assign categories_list = nil %}
</div>
<div class="clearboth"></div>
<hr>
<div>
{% for category in site.categories %} 

<div  class="team-member">
  <h2 id="{{ category[0] }}-ref">{{ category[0] }}</h2>
  <ul>
{% assign pages_list = category[1] %}  
{% include JB/pages_list %}
  </ul>
</div>
{% endfor %}

</div>
